.p0{
   padding: 0;
}
.radio-style input{
   width: 22px;
   height: 22px;
   display: inline-block;
   position: relative;
   z-index: 1;
   top: -3px;
   background: url("https://www.tutorialrepublic.com//examples/images/radio-selected.png") no-repeat;
}